.Column {
    /* background-color: rgba(136, 18, 18, 0.932); */
    background-color: rgba(245, 239, 239, 0.932);
    display: flex;
    flex-flow: column nowrap;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(5, 92, 92);
    border-radius: 10px;
    width: 20%;
  }
  .ColumnName {
    font-size: 20px;
    font-weight: 500;
  }
  .CardsList {
    list-style-type: none;
    margin: 5px 5px 5px 0;
    padding: 0;
  }
