.comment__wrapper {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
.comment__content_wrapper {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  /* height: fit-content; */
}
.comment__input {
}
.comment__author {
  padding: 5px;
}
.comment__text {
  word-wrap: break-word;
  border: 2px solid rgb(104, 48, 104);
  padding: 2px;
  width: 100%;
}
.comment__add_btn {
  display: flex;
  align-self: flex-start;
}
.comment__change_btn,
.comment__del_btn {
  cursor: pointer;
  margin-left: 5px;
}
.comment__buttons_wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  margin: 5px 0;
}
